/* Input */
.comment { background: url(../smiles/busy.png) no-repeat 0 0; }
.bubble { background: url(../smiles/home.png) no-repeat 0 0; }
.bubble2 { background: url(../smiles/leave.png) no-repeat 0 0; }
.bubble3 { background: url(../smiles/lock.png) no-repeat 0 0; }
.bubble4 { background: url(../smiles/noNetState.png) no-repeat 0 0; }
.bubble5 { background: url(../smiles/online.png) no-repeat 0 0; }
.bubble6 { background: url(../smiles/pullDownArrow.png) no-repeat 0 0; }
.bubble7 { background: url(../smiles/user.png) no-repeat 0 0; }