.blueAudio1 { background: url(../chatpage/blueAudio1.png) no-repeat 0 0; width: 12px; height: 18px; }
.blueAudio2 { background: url(../chatpage/blueAudio2.png) no-repeat 0 0; width: 12px; height: 18px; }
.blueAudio3 { background: url(../chatpage/blueAudio3.png) no-repeat 0 0; width: 12px; height: 18px; }
.closedIcon { background: url(../chatpage/close.png) no-repeat 0 0; width: 16px; height: 16px;}
.colleague_0 { background: url(../chatpage/colleague_0.png) no-repeat 0 0; width: 14px; height: 12px; }
.colleague_1 { background: url(../chatpage/colleague_1.png) no-repeat 0 0; width: 14px; height: 14px; }
.colleague_2 { background: url(../chatpage/colleague_2.png) no-repeat 0 0; width: 15px; height: 13px; }
.colleague_3 { background: url(../chatpage/colleague_3.png) no-repeat 0 0; width: 7px; height: 7px; }
.DOCX { background: url(../chatpage/DOCX.png) no-repeat 0 0; }
.DOC { background: url(../chatpage/DOCX.png) no-repeat 0 0; }
.JPG { background: url(../chatpage/JPG.png) no-repeat 0 0; }
.PDF { background: url(../chatpage/PDF.png) no-repeat 0 0; }
.PNG { background: url(../chatpage/PNG.png) no-repeat 0 0; }
.PPT { background: url(../chatpage/PPT.png) no-repeat 0 0; }
.PPTX { background: url(../chatpage/PPT.png) no-repeat 0 0; }
.RAR { background: url(../chatpage/RAR.png) no-repeat 0 0; }
.TXT { background: url(../chatpage/TXT.png) no-repeat 0 0; }
.XLSX { background: url(../chatpage/XLS.png) no-repeat 0 0; }
.XLS { background: url(../chatpage/XLS.png) no-repeat 0 0; }
.ZIP { background: url(../chatpage/ZIP.png) no-repeat 0 0; }
.unknown { background: url(../chatpage/unknown.png) no-repeat 0 0; }
.webbowap { background: url(../chatpage/webbowap.png) no-repeat 0 0; }
.weibo { background: url(../chatpage/weibo.png) no-repeat 0 0; }
.whiteAudio1 { background: url(../chatpage/whiteAudio1.png) no-repeat 0 0; width: 12px; height: 18px; }
.whiteAudio2 { background: url(../chatpage/whiteAudio2.png) no-repeat 0 0; width: 12px; height: 18px; }
.whiteAudio3 { background: url(../chatpage/whiteAudio3.png) no-repeat 0 0; width: 12px; height: 18px; }
.leaveLeft { background: url(../chatpage/leaveLeft.png) no-repeat 0 0; width: 16px; height: 16px; }

























