.aqwz { background: url(../ehtml/aqwz.png) no-repeat 0 0; width: 126px; height: 48px;}
.bgimage { background: url(../ehtml/bgimage.png) no-repeat 0 0; width: 700px; height: 34px; }
.chatlogo { background: url(../ehtml/chatlogo.png) no-repeat 0 0; width: 40px; height: 40px; }
.close2Icon { background: url(../ehtml/close2Icon.png) no-repeat 0 0; width: 26px; height: 26px; }
.closeIcon { background: url(../ehtml/closeIcon.png) no-repeat 0 0; width: 17px; height: 17px; }
.closeMin { background: url(../ehtml/closeMin.png) no-repeat 0 0; width: 10px; height: 10px; }
.collectIcon { background: url(../ehtml/collectIcon.png) no-repeat 0 0; width: 26px; height: 26px; }
.courseIcon { background: url(../ehtml/courseIcon.png) no-repeat 0 0; width: 26px; height: 26px; }
.deskIcon { background: url(../ehtml/deskIcon.png) no-repeat 0 0; width: 26px; height: 26px; }
.flashIcon { background: url(../ehtml/flashIcon.png) no-repeat 0 0; width: 50px; height: 50px; }
.jiantou { background: url(../ehtml/jiantou.png) no-repeat 0 0; width: 36px; height: 24px; }
.kefuIcon { background: url(../ehtml/kefuIcon.png) no-repeat 0 0; width: 50px; height: 50px; }
.liaokuang { background: url(../ehtml/liaokuang.png) no-repeat 0 0; width: 12px; height: 32px; }
.lingqu { background: url(../ehtml/lingqu.png) no-repeat 0 0; width: 26px; height: 26px; }
.lingqukejian { background: url(../ehtml/lingqukejian.png) no-repeat 0 0; width: 66px; height: 24px; }
.login { background: url(../ehtml/login.png) no-repeat 0 0; width: 108px; height: 34px; }
.login2 { background: url(../ehtml/login2.png) no-repeat 0 0; width: 320px; height: 40px; }
.login_bg { background: url(../ehtml/login_bg.jpg) no-repeat 0 0; width: 170px; height: 330px; }
.logo { background: url(../ehtml/logo.png) no-repeat 0 0; width: 218px; height: 60px; }
.lqcl { background: url(../ehtml/lqcl.png) no-repeat 0 0; width: 140px; height: 33px; }
.lqhl { background: url(../ehtml/lqhl.jpg) no-repeat 0 0; width: 140px; height: 30px; }
.movie { background: url(../ehtml/movie.png) no-repeat 0 0; width: 50px; height: 50px; }
.picture { background: url(../ehtml/picture.png) no-repeat 0 0; width: 24px; height: 24px; }
.pointsIcon { background: url(../ehtml/pointsIcon.png) no-repeat 0 0; width: 22px; height: 18px; }
.qq { background: url(../ehtml/qq.png) no-repeat 0 0; width: 20px; height: 24px; }
.qqmodal { background: url(../ehtml/qqmodal.png) no-repeat 0 0; width: 327px; height: 172px; }
.qqtalk { background: url(../ehtml/qqtalk.png) no-repeat 0 0; width: 92px; height: 22px; }
.red { background: url(../ehtml/red.png) no-repeat 0 0; width: 70px; height: 5px; }
.regist { background: url(../ehtml/regist.png) no-repeat 0 0; width: 108px; height: 34px; }
.registerBg { background: url(../ehtml/registerBg.jpg) no-repeat 0 0; width: 600px; height: 300px; }
.rili { background: url(../ehtml/rili.png) no-repeat 0 0; width: 50px; height: 50px; }
.rilia { background: url(../ehtml/rilia.png) no-repeat 0 0; width: 50px; height: 50px; }
.ruanjianxiazai { background: url(../ehtml/ruanjianxiazai.png) no-repeat 0 0; width: 66px; height: 24px; }
.smile { background: url(../ehtml/smile.png) no-repeat 0 0; width: 24px; height: 24px; }
.tipsIcon { background: url(../ehtml/tipsIcon.png) no-repeat 0 0; width: 50px; height: 50px; }
.xiazai { background: url(../ehtml/xiazai.png) no-repeat 0 0; width: 50px; height: 50px; }

























