.brace-xns { background: url(../kpi/brace.png) no-repeat 0 0; width: 162px; height: 9px;}
.icon-busy { background: url(../kpi/icon_busy.png) no-repeat 0 0; width: 26px; height: 25px; }
.icon-leave { background: url(../kpi/icon_leave.png) no-repeat 0 0; width: 26px; height: 25px; }
.icon-offline { background: url(../kpi/icon_offline.png) no-repeat 0 0; width: 26px; height: 25px; }
.icon-online { background: url(../kpi/icon_online.png) no-repeat 0 0; width: 26px; height: 25px; }
.kf-busy { background: url(../kpi/kf_busy.png) no-repeat 0 0; width: 33px; height: 31px; }
.kf-leave { background: url(../kpi/kf_leave.png) no-repeat 0 0; width: 31px; height: 30px; }
.kf-offline { background: url(../kpi/kf_offline.png) no-repeat 0 0; width: 31px; height: 32px; }
.kf-online { background: url(../kpi/kf_online.png) no-repeat 0 0; width: 31px; height: 32px; }
.nodata-big-xns { background: url(../kpi/nodata-big.png) no-repeat 0 0; width: 149px; height: 139px; }
.nodata-sad-xns { background: url(../kpi/nodata-sad.png) no-repeat 0 0; width: 30px; height: 30px; }
.nodata-small-xns { background: url(../kpi/nodata-small.png) no-repeat 0 0; width: 55px; height: 60px; }





