.blue-jian1-xns { background: url(../publicImg/blue-jian1-xns.png) no-repeat 0 0; width: 52px; height: 95px; }
.blue-xns { background: url(../publicImg/blue-xns.png) no-repeat 0 0; width: 12px; height: 13px; }
.bold-xns { background: url(../publicImg/bold-xns.png) no-repeat 0 0; width: 17px; height: 17px; }
.chat_file-xns { background: url(../publicImg/chat_file-xns.png) no-repeat 0 0; width: 14px; height: 16px; }
.consult-detail-xns { background: url(../publicImg/consult-detail-xns.png) no-repeat 0 0; width: 17px; height: 17px; }
.CustomerService-xns { background: url(../publicImg/CustomerService-xns.png) no-repeat 0 0; width: 12px; height: 14px; }
.dataNo-xns { background: url(../publicImg/dataNo-xns.png) no-repeat 0 0; width: 57px; height: 49px; }
.error_page-xns { background: url(../publicImg/error_page-xns.png) no-repeat 0 0; width: 361px; height: 154px; }
.example-xns { background: url(../publicImg/example-xns.png) no-repeat 0 0; width: 409px; height: 177px; }
.failedLoad-xns { background: url(../publicImg/failedLoad-xns.png) no-repeat 0 0; width: 17px; height: 14px; }
.file-xns { background: url(../publicImg/file-xns.png) no-repeat 0 0; width: 14px; height: 16px; }
.gar-1-xns { background: url(../publicImg/gar-1-xns.png) no-repeat 0 0; width: 135px; height: 32px; }
.green-xns { background: url(../publicImg/green-xns.png) no-repeat 0 0; width: 12px; height: 13px; }
.group-close-hover-xns { background: url(../publicImg/group-close-hover-xns.png) no-repeat 0 0; width: 7px; height: 50px; }
.group-close-xns { background: url(../publicImg/group-close-xns.png) no-repeat 0 0; width: 7px; height: 50px; }
.group-open-hover-xns { background: url(../publicImg/group-open-hover-xns.png) no-repeat 0 0; width: 7px; height: 50px; }
.group-open-xns { background: url(../publicImg/group-open-xns.png) no-repeat 0 0; width: 7px; height: 50px; }
.icon_close-xns { background: url(../publicImg/icon_close-xns.png) no-repeat 0 0; width: 14px; height: 14px; }
.icon_minimize-xns { background: url(../publicImg/icon_minimize-xns.png) no-repeat 0 0; width: 14px; height: 14px; }
.image_load_error-xns { background: url(../publicImg/image_load_error-xns.png) no-repeat 0 0; width: 96px; height: 82px; }
.italic-xns { background: url(../publicImg/italic-xns.png) no-repeat 0 0; width: 17px; height: 17px; }
.jiantou-xns { background: url(../publicImg/jiantou-xns.png) no-repeat 0 0; width: 96px; height: 41px; }
.kefu-logo-xns { background: url(../publicImg/kefu-logo-xns.png) no-repeat 0 0; width: 120px; height: 120px; }
.kefu-xns { background: url(../publicImg/kefu-xns.png) no-repeat 0 0; width: 12px; height: 12px; }
.kfPortrait-xns { background: url(../publicImg/kfPortrait-xns.png) no-repeat 0 0; width: 40px; height: 40px; }
.loadFailed-xns { background: url(../publicImg/loadFailed-xns.png) no-repeat 0 0; width: 262px; height: 228px; }
.log_128x128-xns { background: url(../publicImg/log_128x128-xns.png) no-repeat 0 0; width: 80px; height: 80px; }
.logo-xns { background: url(../publicImg/logo-xns.png) no-repeat 0 0; width: 74px; height: 25px; }
.newsRemind-xns { background: url(../publicImg/newsRemind-xns.png) no-repeat 0 0; width: 116px; height: 116px; }
.no-Data-xns { background: url(../publicImg/no-Data-xns.png) no-repeat 0 0; width: 57px; height: 49px; }
.noData-big-xns { background: url(../publicImg/noData-big-xns.png) no-repeat 0 0; width: 149px; height: 139px; }
.nodata-xns { background: url(../publicImg/nodata-xns.png) no-repeat 0 0; width: 600px; height: 400px; }
.nullData-xns { background: url(../publicImg/nullData-xns.png) no-repeat 0 0; width: 55px; height: 60px; }
.over-due-xns { background: url(../publicImg/over-due-xns.png) no-repeat 0 0; width: 56px; height: 39px; }
.password-xns { background: url(../publicImg/password-xns.png) no-repeat 0 0; width: 13px; height: 18px; }
.pcType-xns { background: url(../publicImg/pcType-xns.png) no-repeat 0 0; width: 40px; height: 40px; }
.phone-xns { background: url(../publicImg/phone-xns.png) no-repeat 0 0; width: 211px; height: 425px; }
.red-xns { background: url(../publicImg/red-xns.png) no-repeat 0 0; width: 14px; height: 14px; }
.refresh-xns { background: url(../publicImg/refresh-xns.png) no-repeat 0 0; width: 80px; height: 66px; }
.robot-xns { background: url(../publicImg/robot-xns.png) no-repeat 0 0; width: 128px; height: 128px; }
.robotImg-xns { background: url(../publicImg/robotImg-xns.png) no-repeat 0 0; width: 31px; height: 30px; }
.saveFailure-xns { background: url(../publicImg/saveFailure-xns.png) no-repeat 0 0; width: 162px; height: 143px; }
.saveSuccess-xns { background: url(../publicImg/saveSuccess-xns.png) no-repeat 0 0; width: 149px; height: 138px; }
.searchNoData-xns { background: url(../publicImg/searchNoData-xns.png) no-repeat 0 0; width: 55px; height: 60px; }
.sensitive_word-xns { background: url(../publicImg/sensitive_word-xns.png) no-repeat 0 0; width: 22px; height: 22px; }
.shipin-xns { background: url(../publicImg/shipin-xns.png) no-repeat 0 0; width: 18px; height: 12px; }
.sign-xns { background: url(../publicImg/sign-xns.png) no-repeat 0 0; width: 20px; height: 14px; }
.siteid-xns { background: url(../publicImg/siteid-xns.png) no-repeat 0 0; width: 16px; height: 16px; }
.topbg-xns { background: url(../publicImg/topbg-xns.png) no-repeat 0 0; width: 427px; height: 62px; }
.Tourist-xns { background: url(../publicImg/Tourist-xns.png) no-repeat 0 0; width: 12px; height: 12px; }
.underline-xns { background: url(../publicImg/underline-xns.png) no-repeat 0 0; width: 17px; height: 17px; }
.user-name-xns { background: url(../publicImg/user-name-xns.png) no-repeat 0 0; width: 15px; height: 18px; }
.visitor-xns { background: url(../publicImg/visitor-xns.png) no-repeat 0 0; width: 90px; height: 90px; }
