/* Input */
.xn-1f44d { background: url(../smiles/1f44d.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f49b { background: url(../smiles/1f49b.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f60a { background: url(../smiles/1f60a.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f60c { background: url(../smiles/1f60c.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f60d { background: url(../smiles/1f60d.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f60e { background: url(../smiles/1f60e.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f60f { background: url(../smiles/1f60f.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f61c { background: url(../smiles/1f61c.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f61d { background: url(../smiles/1f61d.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f62c { background: url(../smiles/1f62c.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f62d { background: url(../smiles/1f62d.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f63a { background: url(../smiles/1f63a.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f63b { background: url(../smiles/1f63b.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f63f { background: url(../smiles/1f63f.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f64f { background: url(../smiles/1f64f.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f197 { background: url(../smiles/1f197.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f601 { background: url(../smiles/1f601.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f602 { background: url(../smiles/1f602.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f605 { background: url(../smiles/1f605.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f606 { background: url(../smiles/1f606.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f609 { background: url(../smiles/1f609.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f610 { background: url(../smiles/1f610.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f611 { background: url(../smiles/1f611.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f612 { background: url(../smiles/1f612.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f613 { background: url(../smiles/1f613.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f616 { background: url(../smiles/1f616.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f618 { background: url(../smiles/1f618.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f621 { background: url(../smiles/1f621.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f622 { background: url(../smiles/1f622.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f623 { background: url(../smiles/1f623.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f625 { background: url(../smiles/1f625.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f629 { background: url(../smiles/1f629.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f630 { background: url(../smiles/1f630.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f631 { background: url(../smiles/1f631.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f633 { background: url(../smiles/1f633.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f639 { background: url(../smiles/1f639.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-1f640 { background: url(../smiles/1f640.png) no-repeat 0 0; width: 24px; height: 24px; }
.xn-3297 { background: url(../smiles/3297.png) no-repeat 0 0; width: 24px; height: 24px; }